<div class = "Content">
	<div class = "Title">
		<h1 id = "Google-logo">

		</h1>
	</div>
	<div class = "Search-bar">
		<form action"#" METHOD = "POST">
			<input id = "searchinput" type = "text">
		</form>
		<div class = "subsearch">
			<ul>
				<li id = "sub-button">
					<a id = "submit" href="">Google Search</a>
				</li>
				<li id = "random-button">
						<a id = "lucky" href="">I'm feeling lucky</a>
				</li>
			</ul>
		</div>
	</div>
</div>






