/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	margin: 0;
	background: #fff;
	font-family: Arial, sans-serif; 
	font-size: small;

}

ul{
	list-style-type: none;
}


a{
	text-decoration: none;
	color: #000;
}

.Search-bar a{
	color: #666;
}

span {
	margin: 7px;
}


.Nav{
	position: fixed;
	top: 0;
	width: 100%;
}

.navsub li{
	color: #000;
	list-style-type: none;
}

.navsub{
	display: flex;
	float: right;
	padding-right: 30px;
	padding-left: 15px; 
	padding-bottom: 14px;
}

#name{
	padding: 8px;
}

#Gmail{
	padding: 8px;
}

#images{
	padding: 8px;
}
#apps {
	padding: 8px;
	margin-top: 8px;
	background-image: url("box_matrix.png");
	background-position: center;
	background-repeat: no-repeat;
	color: transparent;
	margin-right: 15px;
}

#bell {
	margin-top: 3px;
	background-image: url("black_bell.png");
	background-position: center;
	background-repeat: no-repeat;
	color: transparent;
	padding: 8px;
}

#share {
	background-color: rgba(0,0,0,.3);
	padding: 3px;
	line-height: 22px;
}

#pic {
		padding: 8px;
}

.Content {
	margin-top: 9%;
	position: absolute;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.Content li {
	display: inline;
}

.Title{
}

#Google-logo {
	padding-top: 112px;
	background-image: url("googlelogo.png");
	background-size: 269px 95px;
	background-position: center;
	background-repeat: no-repeat;
	color: transparent;


}

.Search-bar{
	top: 80px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#search {
	height: 27px;
	border-spacing: 0px;
	border-collapse: separate;
 }


#searchinput {
	width: 572px;
	height: 1.25em;
	font-size: 16px;
	box-shadow: none;
}

.subsearch {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	height: 50px;
}

.subsearch li{
	margin: 2px;
}



#sub-button{
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	-webkit-border-radius: 2px;
	-webkit-user-select: none;
	background-color: #f5f5f5;
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	color: #666;
	cursor: default;
	font-family: arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 29px;
	line-height: 27px;
	margin: 11px 6px;
	min-width: 54px;
	padding: 8px;
	text-align: center;
	-webkit-writing-mode: horizontal-tb;

}


#subinside {
	color: #666;
}

#random-button{
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	-webkit-border-radius: 2px;
	-webkit-user-select: none;
	background-color: #f5f5f5;
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	color: #666;
	cursor: default;
	font-family: arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 29px;
	line-height: 27px;
	margin: 11px 6px;
	min-width: 54px;
	padding: 8px;
	text-align: center;
	-webkit-writing-mode: horizontal-tb;

}

#lucky {
	color: #666;
}

.footer{
	position: absolute;
	font-size: 10px;
	bottom: 0;
	height: 38px;
	width: 100%;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	margin: 0 auto;
}

.footer li {
	display: inline;
}

.footersub {
	font-size: small;
	font-size: small;
	margin-left: 15px;
	margin-right: 15px;
}


.footersub a {
	color: #666;
	margin: 10px;
}



.LeftSide{
	float: left;
}

.RightSide{
	float: right;
}

